.footer{
    width: 100%;
    height: 5rem;
    background-color: black;
}
.footer_headr{
   color: white;
   font-family: 'Lobster', sans-serif;
   padding-right: 2rem;
   
}
.icon svg{
    color: white;
}
.footer_contaenr{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}
@media screen and (max-width: 992px){
    .footer{
        height: 100%;
    }
}
